.CardUser {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: end;
    justify-content: space-around;
    column-gap: 15px;
    row-gap: 10px;
}